@charset "ISO-8859-1";

body {
	background-color: #f1f2f6;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	border-radius: 5px;
	background-color: #7bed9f;
	margin-top:2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 600px;
	width: 40%;
}

tr:nth-child(even) {
	background-color: #7bed9f;
}

form>div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.input-field {
	width: 90%;
}

.input-field>label {
	width: 20%;
}

.input-field>input {
	width: 25%;
}

.input-field>.erreur{
	width: 50%;
}

.button-ajout{
	border-radius: 5px;
	width: 85px;
	height: 60px;
	background-color:#7ed6df;
}

.button-ajout:hover{
	background-color:#22a6b3;
	transition: 0.2s;
}