@charset "ISO-8859-1";

body, .page {
    background-color: #f1f2f6;
}

.page {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
	height: 80vh;
}

input[type="submit"] {
	font-size:20px;
	width: 220px;
    height: 85px;
    background-color: #7bed9f;
    border-radius: 5px;
}

input[type="submit"]:hover {
	background-color: #2ed573;
	transition: 0.2s;
}