@charset "ISO-8859-1";

body, .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f2f6;
}

table, th, td {
    text-align: center;
    border: 1px solid;
    margin: 10px;
}

th {
	background-color: #2ed573;
}

tr {
    border: 1px solid;
    background-color: #7bed9f;
}

table {
    border-radius: 5px;
    border-collapse: collapse;
}

.actions {
	display:flex;
	border: 0px;
}

.actions input[type="submit"] {
	margin: 0px 5px 0px 5px;
}

input[class^='button'] {
	border-radius: 5px;
	width: 85px;
	height: 60px;
}

.button-update{
	background-color:#70a1ff;
}

.button-update:hover{
	background-color:#1e90ff;
	transition: 0.2s;
}

.button-delete{
	background-color:#ff7f50;
}

.button-delete:hover{
	background-color:#ff6348;
	transition: 0.2s;
}

.button-ajout{
	background-color:#7ed6df;
}

.button-ajout:hover{
	background-color:#22a6b3;
	transition: 0.2s;
}


