body {
	padding-top:2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 92vh;
	background-color: #f1f2f6;
}

form {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.action {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.action>button{
	margin : 10px;
}

table {
    border-collapse: collapse;
    background-color: #fad390;
}

table, th, td {
    text-align: center;
    border: 1px solid;
    margin: 10px;
}

td {
	height: 30px;
	width: 100px;
}